.post {
	max-width: 800px;
	margin: 15px auto 50px auto;
	position: relative;
	padding: 20px;
}

.link {
	position: absolute;
	left: -5px;
	top: 20px;
	width: 20px;
	height: 20px;
}

.post .images {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: calc(100% + 10px);
	margin: 0 -5px;
}

.post .images img {
	height: 100%;
	width: 100%;
	cursor: pointer;
}

.focus {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: black;
	z-index: 500;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}
.close {
	z-index: 501;
	position: fixed;
	top: 10px;
	right: 10px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.3);
	color: white;
	width: 30px;
	height: 30px;
	line-height: 30px;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
}
.focus img {
	width: 100%;
}

.image {
	flex: 1;
	padding: 0 5px 5px 5px;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
	.image {
		min-width: 100%;
	}
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767px) {
	.image {
		min-width: 50%;
	}
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991px) {
	.image {
		min-width: 33%;
	}
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199px) {
	.image {
		min-width: 25%;
	}
}
